In [1]:
4/2        #division

2.0

In [2]:
1+1 #Addition

2

In [3]:
3--2

5

In [4]:
9-3 #Subtraction

6

In [5]:
9---3

6

In [2]:
4//2       #floor division

2

In [3]:
7/3        #division

2.3333333333333335

In [5]:
7%3        #remainder

1

In [9]:
8&2        #bitwise and

0

In [11]:
8|2        #bitwise or

10

In [13]:
1^1        #bitwise xor

0

In [17]:
2**3**1    #power operator

8

In [19]:
2**(4**0.5) # ** is aright associative

4.0

In [21]:
2**4//3

5

In [24]:
2**4&3|2**3//2

4

# typeconversion

In [25]:
int(2.5)

2

In [26]:
float(2)

2.0

In [27]:
str(2)

'2'

In [28]:
str(2.0)

'2.0'

In [29]:
str(int(3.142))

'3'

In [8]:
float(str(int(3.142)))

3.0

In [3]:
chr(65),chr(66),chr(67),chr(68),chr(69),chr(70),chr(71),chr(72),chr(73),chr(74),chr(75),chr(76),chr(77),chr(78),chr(79),chr(80),chr(81),chr(82),chr(83),chr(84),chr(85),chr(86),chr(87),chr(88),chr(89),chr(90),chr(91),chr(92),chr(93),chr(94),chr(95),chr(96),chr(97),chr(98),chr(99),chr(100)

('A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd')

In [11]:
chr(97)

'a'

In [12]:
ord('A')

65

In [31]:
ord('a')

97

In [32]:
ord('A')

65

# Comments

In [33]:
#code to print hello!world
print('hello world !')

hello world !

In [34]:
print('"hello world !"')

"hello world !"

In [35]:
print("hello 'world'!")

hello 'world'!

In [37]:
x=7
print('the value of x is',x)
print(f'the value of x is {x}')
print('the value of x is {}'.format(x))
print('the value of x is '+str(x))

the value of x is 7
the value of x is 7
the value of x is 7
the value of x is 7

In [38]:
fruit1='apple'
fruit2='banana'
fruit3='mango'
print('i like {},{} and {}'.format(fruit1,fruit2,fruit3))
print(f'i like {fruit1},{fruit2} and {fruit3}')

i like apple,banana and mango
i like apple,banana and mango

In [39]:
print('i like',fruit1, ',',fruit2, 'and',fruit3)

i like apple , banana and mango

# if else; if elif

In [41]:
#even or odd 
number=7
if(number%2==0):
    print('even number')
else:
    print('odd number')

odd number

In [43]:
#even or odd 
number=7
if(number%2==0):
    print(f'{number} is even number')
else:
    print(f'{number} is odd number')

7 is odd number

In [8]:
Name='Mokshi'
if(Name=='red'):
    print('stop')
else:
    print('get ready to marry')

get ready to marry

# input()function

In [46]:
print(type(1))
print(type(1.0))

<class 'int'>
<class 'float'>

In [47]:
#loops
x=input('enter the number')
print(type(x))

enter the number7
<class 'str'>

In [49]:
#print numbers from 0 to 4
for i in range(4):
    print(i)

0
1
2
3

In [50]:
for i in range(0,4):
    print(i)

0
1
2
3

In [51]:
for i in range(0,4,1):
    print(i)

0
1
2
3

# functions

In [53]:
def fun():
    print('hello world')
fun()

hello world

In [54]:
def fun(count):
    for i in range(count):
        print('hello world !')
fun(7)

hello world !
hello world !
hello world !
hello world !
hello world !
hello world !
hello world !

In [56]:
def fun(sentence,count):
    for i in range(count):
        print(sentence)
fun('hello world',5)

hello world
hello world
hello world
hello world
hello world

In [59]:
def fun(sentence='hello world',count=2):
    for i in range(count):
        print(sentence)
fun()

hello world
hello world

In [61]:
def sum_of_natural_numbers(n):
    result = n*(n+1)/2
    return result
result= sum_of_natural_numbers(3)
print(result)

6.0

In [65]:
def sum_of_natural_numbers(n):
    result = n*(n+1)/2
    return result
number=int(input('enter the number:'))
result = sum_of_natural_numbers(3)
print(f'sum of first {number} natural numbers={result}')

enter the number:3
sum of first 3 natural numbers=6.0

In [66]:
def sum_of_squares_of_natural_numbers(n):
    result = n*(n+1)*(2*n+1)/6
    return result
number=int(input('enter the number:'))
result = sum_of_squares_of_natural_numbers(number)
print(f'sum of square of first {number} natural numbers = {result}')

enter the number:3
sum of square of first 3 natural numbers = 14.0

In [67]:
def sum_of_cubes_of_natural_numbers(n):
    result =(n*(n+1)/2)**2
    return result
number=int(input('enter the number:'))
result = sum_of_cubes_of_natural_numbers(number)
print(f'sum of cubes of first {number} natural numbers = {result}')

enter the number:2
sum of cubes of first 2 natural numbers = 9.0

# Patterns

In [68]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [71]:
row=5
print_count=1
for i in range(row):
    for j in range(print_count):
        print('*',end='')
    print_count=print_count+1
    print()

*
**
***
****
*****

In [77]:
rows=5
print_count=1
for i in range(rows):
    for j in range(print_count):
        print(i,end='')
    print_count=print_count+1
    print()

0
11
222
3333
44444

In [13]:
rows=5
print_count=1
for i in range(rows):
    for j in range(print_count):
        print(j,end='')
    print_count=print_count+1
    print()

0
01
012
0123
01234

In [16]:
rows = 10
print_count = 1
for i in range(rows):
    for j in range(print_count):
        if(i%2 == 0):
            print('7', end = '')
        else:
            print('9', end = '')
    print_count = print_count + 1
    print()

7
99
777
9999
77777
999999
7777777
99999999
777777777
9999999999

In [17]:
rows = 6
print_count = 1
for i in range(rows):
    for j in range(print_count):
        if(i%3 == 0):
            print('1', end = '')
        elif(i%3 == 1):
            print('7', end = '')
        else:
            print('9', end = '')
    print_count = print_count + 1
    print()

1
77
999
1111
77777
999999

In [80]:
row=5
print_count=5
for i in range(row):
    for j in range(print_count):
        print('*',end='')
    print_count=print_count-1
    print()

*****
****
***
**
*

In [81]:
rows=5
print_count=5
for i in range(rows):
    for j in range(print_count):
        print(i,end='')
    print_count=print_count-1
    print()

00000
1111
222
33
4

In [82]:
rows=5
print_count=5
for i in range(rows):
    for j in range(print_count):
        print(j,end='')
    print_count=print_count-1
    print()

01234
0123
012
01
0

In [83]:
rows=5
print_count=1
for i in range(rows):
    for j in range(print_count):
        print(i,end='')
    print_count=print_count+1
    print()

0
11
222
3333
44444

In [84]:
rows=6
print_count=1
for i in range(rows):
    for j in range(print_count):
        if(i%3==0):
            print('1',end=' ')
        elif(i%3==1):
            print('7',end=' ')
        else:
            print('9',end=' ')
    print_count=print_count+1
    print()

1
7 7
9 9 9
1 1 1 1
7 7 7 7 7
9 9 9 9 9 9

In [85]:
rows=5
print_count=1
count=65
for i in range(rows):
    for j in range(print_count):
        print(chr(count),end='')
    count = count+1
    print_count=print_count+1
    print()

A
BB
CCC
DDDD
EEEEE

In [86]:
rows=7
print_count=1
count=97
for i in range(rows):
    for j in range(print_count):
        print(chr(count),end='')
    count = count+1
    print_count=print_count+1
    print()

a
bb
ccc
dddd
eeeee
ffffff
ggggggg

In [88]:
rows=7
print_count=1
count=65
for i in range(rows):
    for j in range(print_count):
        print(chr(count),end='')
        count = count+1
    print_count=print_count+1
    print()

A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZ[\

In [90]:
rows=7
print_count=1
for i in range(rows):
    count=65
    for j in range(print_count):
        print(chr(count),end='')
        count = count+1
    print_count=print_count+1
    print()

A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG

In [91]:
row=7
print_count=5
for i in range(row):
    for j in range(print_count):
        print('*',end='')
        count = count+1
    print_count=print_count-1
    print()

*****
****
***
**
*

In [92]:
row=5
print_count=5
for i in range(row):
    for j in range(print_count):
        print(i,end='')
        count = count+1
    print_count=print_count-1
    print()

00000
1111
222
33
4

In [94]:
row=7
print_count=5
for i in range(row):
    for j in range(print_count):
        print(j,end='')
        count = count+1
    print_count-=1
    print()

01234
0123
012
01
0

In [96]:
rows =5
spaces = rows-1
print_count = 1
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print('*',end=' ')
    print_count =print_count+2
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [97]:
rows =10
spaces = rows-1
print_count = 1
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print('*',end=' ')
    print_count =print_count+2
    print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [99]:
rows =10
spaces = rows-1
print_count = 1
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print(i,end=' ')
    print_count =print_count+2
    print()

                  0
                1 1 1
              2 2 2 2 2
            3 3 3 3 3 3 3
          4 4 4 4 4 4 4 4 4
        5 5 5 5 5 5 5 5 5 5 5
      6 6 6 6 6 6 6 6 6 6 6 6 6
    7 7 7 7 7 7 7 7 7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [103]:
rows =10
spaces = rows-1
print_count = 1
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print(j,end=' ')
    print_count =print_count+2
    print()

                  0
                0 1 2
              0 1 2 3 4
            0 1 2 3 4 5 6
          0 1 2 3 4 5 6 7 8
        0 1 2 3 4 5 6 7 8 9 10
      0 1 2 3 4 5 6 7 8 9 10 11 12
    0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

In [107]:
rows =10
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print(chr(count),end=' ')
    print_count =print_count+2
    print()

                  A
                A A A
              A A A A A
            A A A A A A A
          A A A A A A A A A
        A A A A A A A A A A A
      A A A A A A A A A A A A A
    A A A A A A A A A A A A A A A
  A A A A A A A A A A A A A A A A A
A A A A A A A A A A A A A A A A A A A

In [109]:
rows =5
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print(chr(count),end=' ')
        count=count+1
    print_count =print_count+2
    print()

        A
      B C D
    E F G H I
  J K L M N O P
Q R S T U V W X Y

In [110]:
rows =5
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(' ',end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        if(i%2==0):
            print(chr(65),end=' ')
        else:
            print(chr(97),end=' ')
    print_count =print_count+2
    print()

        A
      a a a
    A A A A A
  a a a a a a a
A A A A A A A A A

In [112]:
rows =5
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(' ',end='')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print(chr(count),end='')
    count+=1;
    print_count =print_count+2
    print()

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

In [114]:
rows =10
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(' ',end='')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print('*',end='')
        count=count+1
    print_count =print_count=1
    print()

         *
        *
       *
      *
     *
    *
   *
  *
 *
*

In [116]:
rows =7
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print('*',end=' ')
    print_count+=1
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [117]:
rows =7
spaces = rows-1
print_count = 1
count=65;
for i in range(rows):
    for j in range(spaces):
        print(end=' ')
        #print(end='  ')
    spaces  -=1
    for j in range(print_count):
        print('*',end=' ')
    print_count+=1
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [122]:
rows =7
spaces = 0
print_count = rows
count=65;
for i in range(rows):
    for j in range(spaces):
        print(end=' ')
    spaces  +=1
    for j in range(print_count):
        print('*',end=' ')
    print_count-=1
    print()

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [129]:
rows =6
spaces1=rows-1
print_count1= 1
spaces2=rows-2
print_count2=rows
for i in range(rows):
    for j in range(spaces1):
        print(end=' ')
    spaces1-=1
    for j in range(print_count1):
        print('*',end=' ')
    print_count1+=1
    for j in range(spaces2):
        print(end=' ')
    for j in range(print_count2):
        print('*',end=' ')
        
    print_count2-=1
    print()

     *     * * * * * *
    * *     * * * * *
   * * *     * * * *
  * * * *     * * *
 * * * * *     * *
* * * * * *     *

In [146]:
rows =5
spaces1=rows-1
print_count1= 1
spaces2=rows-2
print_count2=rows
for i in range(rows):
    for j in range(spaces1):
        print(end=' ')
    spaces1-=1
    for j in range(print_count1):
        print('$',end=' ')
    print_count1+=1
    for j in range(spaces2):
        print(end=' ')
    for j in range(print_count2):
        print('#',end=' ')
        
    print_count2-=1
    print()

    $    # # # # #
   $ $    # # # #
  $ $ $    # # #
 $ $ $ $    # #
$ $ $ $ $    #

In [18]:
rows =5
spaces1=rows-1
print_count1= 1
spaces2=rows-2
print_count2=rows
for i in range(rows):
    for j in range(spaces1):
        print(end=' ')
    spaces1-=1
    for j in range(print_count1):
        if(i%3==0):
            print('1',end=' ')
        elif(i%3==1):
            print('7',end=' ')
        else:
            print('9',end=' ')
    print_count1+=1
    for j in range(spaces2):
        print(end=' ')
    for j in range(print_count2):
        if(i%3==0):
            print('2',end=' ')
        elif(i%3==1):
            print('2',end=' ')
        else:
            print('4',end=' ')
    print_count2-=1
    print()

    1    2 2 2 2 2
   7 7    2 2 2 2
  9 9 9    4 4 4
 1 1 1 1    2 2
7 7 7 7 7    2

In [19]:
rows = 12
spaces1 = rows - 1
print_count1 = 1
spaces2 = rows - 2
print_count2 = rows
for i in range(rows):
    for j in range(spaces1):
        print(end = ' ')
    spaces1-=1
    for j in range(print_count1):
        if(i%3 == 0):
            print('1', end = ' ')
        elif(i%3 == 1):
            print('7', end = ' ')
        else:
            print('9', end = ' ')
    print_count1+=1
    for j in range(spaces2):
        print(end = ' ')
    for j in range(print_count2):
        if(i%3 == 0):
            print('2', end = ' ')
        elif(i%3 == 1):
            print('3', end = ' ')
        else:
            print('4', end = ' ')
    print_count2-=1
    print()

           1           2 2 2 2 2 2 2 2 2 2 2 2
          7 7           3 3 3 3 3 3 3 3 3 3 3
         9 9 9           4 4 4 4 4 4 4 4 4 4
        1 1 1 1           2 2 2 2 2 2 2 2 2
       7 7 7 7 7           3 3 3 3 3 3 3 3
      9 9 9 9 9 9           4 4 4 4 4 4 4
     1 1 1 1 1 1 1           2 2 2 2 2 2
    7 7 7 7 7 7 7 7           3 3 3 3 3
   9 9 9 9 9 9 9 9 9           4 4 4 4
  1 1 1 1 1 1 1 1 1 1           2 2 2
 7 7 7 7 7 7 7 7 7 7 7           3 3
9 9 9 9 9 9 9 9 9 9 9 9           4

In [60]:
print("hello")

hello

In [61]:
rows = 5
print_count=1
spaces = 2*rows - 2
for i in range(rows):
    for j in range(print_count):
        print('*', end = '')
    for j in range(spaces):
        print(end = ' ')
    spaces-=2
    for j in range(print_count):
        print('*', end = '')
    print_count+=1
    print()

*        *
**      **
***    ***
****  ****
**********

In [62]:
rows = 5
print_count =1 
spaces = 2*rows -2 
for i in range(rows):
    for j in range(print_count):
        if(i%2==0):
            print('7',end = '')
        else:
            print('9',end = '')
    for j in range(spaces):
        print(end =' ')
    spaces-=2
    for j in range(print_count):
        if(i%2==0):
            print('7',end = '')
        else:
            print('9',end = '')
    print_count+=1
    print()

7        7
99      99
777    777
9999  9999
7777777777

In [63]:
rows = 5
print_count =1 
spaces = 2*rows -2 
for i in range(rows):
    for j in range(print_count):
        print(j, end = '')
    for j in range(spaces):
        print(end =' ')
    spaces-=2
    for j in range(print_count):
        print(j, end = '')
    print_count+=1
    print()

0        0
01      01
012    012
0123  0123
0123401234

In [64]:
rows = 8
spaces1 = rows - 1
print_count1 =1
for i in range(rows):
    for j in range(spaces1):
        print(end =' ')
    spaces1-=1
    for j in range(print_count1):
        print('*', end= '')
    print_count1+=2
    print()
spaces2= 0
print_count2= 2*rows -1
for i in range(rows):
    for j in range(spaces2):
        print(end =' ')
    spaces2+=1
    for j in range(print_count2):
        print('*', end ='')
    print_count2-=2
    print()

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [65]:
rows = 8
spaces1 = rows - 1
print_count1 =1
for i in range(rows):
    for j in range(spaces1):
        print(end =' ')
    spaces1-=1
    for j in range(print_count1):
        print('*', end= '')
    print_count1+=2
    print()
spaces2= 1
print_count2= 2*rows -3
for i in range(rows):
    for j in range(spaces2):
        print(end =' ')
    spaces2+=1
    for j in range(print_count2):
        print('*', end ='')
    print_count2-=2
    print()

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

# List

In [66]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [67]:
lst[1]

2

In [72]:
#ways to print list
print(lst)
print(lst[:])
print(lst[::])  # default start index= 0; Default step size = 1
print(lst[0:])
print(lst[0::])
print(lst[0::1])
print(lst[0::2])
print(lst[1::2])
print(lst[2:7:3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]
[2, 4]
[3]

In [73]:
lst=[3,6,2,7,9,1,8,5]
print(lst[0:3])
print(lst[0:8])
print(lst[2:5])

[3, 6, 2]
[3, 6, 2, 7, 9, 1, 8, 5]
[2, 7, 9]

In [74]:
lst=[3,6,2,7,9,1,8,5]
print(lst[-1])
print(lst[-5])
print(lst[7:1:-1])

5
7
[5, 8, 1, 9, 7, 2]

In [75]:
lst=[3,6,2,7,9,1,8,5]
print(lst[::-1])  # here -1 is step size
print(lst[:-1]) # here -1 is end index

[5, 8, 1, 9, 7, 2, 6, 3]
[3, 6, 2, 7, 9, 1, 8]

In [77]:
lst = [1,2,3]
print(lst)
lst.append(4)
print(lst)
lst.append('Anirudh')
print(lst) 
lst.append(31.1)   # Lists are hetrogenous
print(lst)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 'Anirudh']
[1, 2, 3, 4, 'Anirudh', 31.1]

In [78]:
lst =[1,2,3,4,5]
type(lst)

list

In [79]:
lst =[1,2,3,4,5]
print(type(lst))

<class 'list'>

In [80]:
type(1)

int

In [81]:
print(type(1))    # Everything is object in python

<class 'int'>

In [82]:
lst =['Python', 'Anaconda','Cobra']
lst.append('Viper')
lst.append('Rattle Snake')
print(lst)

['Python', 'Anaconda', 'Cobra', 'Viper', 'Rattle Snake']

In [83]:
lst.remove('Rattle Snake')
print(lst)   # if run twice

['Python', 'Anaconda', 'Cobra', 'Viper']

In [84]:
lst =['Python', 'Anaconda', 'Cobra', 'Viper']
print(lst)
lst.insert(1,'Rattle Snake')
print(lst)

['Python', 'Anaconda', 'Cobra', 'Viper']
['Python', 'Rattle Snake', 'Anaconda', 'Cobra', 'Viper']

In [85]:
lst =['Python', 'Anaconda', 'Cobra', 'Viper']
print(lst)
lst.pop()
print(lst)

['Python', 'Anaconda', 'Cobra', 'Viper']
['Python', 'Anaconda', 'Cobra']

In [86]:
lst =['Python', 'Anaconda', 'Cobra', 'Viper']
print(lst)
lst.pop(0)
print(lst)

['Python', 'Anaconda', 'Cobra', 'Viper']
['Anaconda', 'Cobra', 'Viper']

In [87]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1 + lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1.append(lst2)
print(lst1)
print(lst2)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]

In [89]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1 = lst1 + lst2
print(lst1)
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [90]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1.extend(lst2)
print(lst1)
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [91]:
lst = []
print(lst)
lst.append(1)
print(lst)

[]
[1]

In [92]:
lst = list()
print(lst)
lst.append(1)
print(lst)

[]
[1]

In [94]:
['Python', 'Rattle Snake', 'Anaconda', 'Cobra', 'Viper']
print(len(lst))
del lst
print(lst)

5

NameError: name 'lst' is not defined

In [95]:
lst =[4,2,6,9,1,5]
print(max(lst))
print(min(lst))

9
1

In [96]:
lst = ['Python', 'Rattle Snake', 'Anaconda', 'Cobra', 'Viper']
print(max(lst))
print(min(lst))

Viper
Anaconda

In [97]:
lst =[4,2,6,9,1,5]
lst.sort()
print(lst)

[1, 2, 4, 5, 6, 9]

In [98]:
lst =[4,2,6,9,1,5]
lst.sort(reverse = True)
print(lst)

[9, 6, 5, 4, 2, 1]

In [99]:
lst =[3,6,4,8,7,9,1,2]
print(sorted(lst))
print(lst)

[1, 2, 3, 4, 6, 7, 8, 9]
[3, 6, 4, 8, 7, 9, 1, 2]

In [102]:
lst =[3,6,4,8,7,9,1,2]
print(sorted(lst))

[1, 2, 3, 4, 6, 7, 8, 9]

In [103]:
lst =[3,6,4,8,7,9,1,2]
lst = sorted(lst, reverse = True)
print(lst)

[9, 8, 7, 6, 4, 3, 2, 1]

In [105]:
lst =[3,6,4,8,7,9,1,2]
lst = sorted()
print(lst)

TypeError: sorted expected 1 argument, got 0

In [106]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [107]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [108]:
lst =[1,2,3]
print(lst * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# Tuples

In [109]:
mytuple = tuple()
print(mytuple)

()

In [110]:
mytuple =(1,2,3,4,5)
print(mytuple)
mytuple[0] =7
print(mytuple)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [111]:
mytuple1 =(1,2,3,4,5)
mytuple2 =(6,7,8,9)
mytuple1 + mytuple2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [112]:
mytuple =('python', 'anaconda' , 'cobra', 'viper')
print(mytuple[0])
print(mytuple[-1])
print(mytuple[::2])

python
viper
('python', 'cobra')

In [113]:
snakes =('python', 'anaconda' , 'cobra', 'viper')
print(snakes *3)

('python', 'anaconda', 'cobra', 'viper', 'python', 'anaconda', 'cobra', 'viper', 'python', 'anaconda', 'cobra', 'viper')

In [114]:
snakes =('python')
print (snakes *5)

pythonpythonpythonpythonpython

In [115]:
snakes =('python', 'anaconda' , 'cobra', 'viper')
del snakes
print(snakes)

NameError: name 'snakes' is not defined

In [116]:
snakes =('python', 'anaconda' , 'cobra', 'viper')
print(max(snakes))
print(min(snakes))

viper
anaconda

In [117]:
mytuple = (1,2,3,4,5)
print(len(mytuple))
print(max(mytuple))
print(min(mytuple))

5
5
1

# List of Tuples

In [118]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort()
print(lst)

[(-5, -2), (-3, -3), (-3, 2), (1, 1), (1, 3), (5, -4)]

In [119]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort(reverse = True)
print(lst)

[(5, -4), (1, 3), (1, 1), (-3, 2), (-3, -3), (-5, -2)]

In [120]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst = sorted(lst, reverse = True)
print(lst)

[(5, -4), (1, 3), (1, 1), (-3, 2), (-3, -3), (-5, -2)]

In [121]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort(key = lambda x : x[1])
print(lst)

[(5, -4), (-3, -3), (-5, -2), (1, 1), (-3, 2), (1, 3)]

In [122]:
def fun(element):
    return(element[1])

lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort(key = fun)
print(lst)

[(5, -4), (-3, -3), (-5, -2), (1, 1), (-3, 2), (1, 3)]

In [123]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort(key = lambda x : x[1], reverse = True)
print(lst)

[(1, 3), (-3, 2), (1, 1), (-5, -2), (-3, -3), (5, -4)]

In [124]:
def fun(element):
    return(element[1])

lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
lst.sort(key = fun, reverse = True)
print(lst)

[(1, 3), (-3, 2), (1, 1), (-5, -2), (-3, -3), (5, -4)]

# Find the co-ordinate which is closest to the origin

In [125]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-3),(5,-4)]
dist = []
for element in lst:
    d = (element[0]**2 + element[1]**2)**(1/2)
    dist.append((d, element))
dist.sort()
print(dist[0][1])

(1, 1)

# Find the point which is closest to the point(2,3)

In [3]:
lst = [(1,1),(1,3),(-3,2),(-5,-2),(-3,-2),(5,-4)]
dist = []
for element in lst:
    d = ((element[0]-2)**2 + (element[1]-3)**2)**(1/2)
    dist.append((d, element))
dist.sort()
print(dist[0][1])

(1, 3)

# find the point closest to x-axis

In [8]:
lst = [(1,3),(2,-3),(3,2),(4,2),(-2,1),(-3,-4),(-4,-2)]
dist=[]
for element in lst:
    if(element[1]>=0):
        dist.append((element[1],element))
    else:
        dist.append((-element[1],element))
dist.sort()
print(dist)

[(1, (-2, 1)), (2, (-4, -2)), (2, (3, 2)), (2, (4, 2)), (3, (1, 3)), (3, (2, -3)), (4, (-3, -4))]

In [7]:
lst = [(1,3),(2,-3),(3,2),(4,2),(-2,1),(-3,-4),(-4,-2)]
dist=[]
for element in lst:
    if(element[1]>=0):
        dist.append((element[1],element))
    else:
        dist.append((-element[1],element))
dist.sort()
print(dist[0][1])

(-2, 1)

# find the closest point to Y-axis

In [9]:
lst = [(1,3),(2,-3),(3,2),(4,2),(-2,1),(-3,-4),(-4,-2)]
dist=[]
for element in lst:
    if(element[0]>=0):
        dist.append((element[0],element))
    else:
        dist.append((-element[0],element))
dist.sort()
print(dist[0][1])

(1, 3)

# find the point closest to the line parallel to x-axis passing passing through the point (2,3)

In [11]:
lst = [(1,4),(-3,5),(-2,1),(-4,-3),(4,-2)]
dist=[]
for element in lst:
    if(element[1]>=3):
        dist.append((element[1]-3,element))
    else:
        dist.append((3-element[1],element))
dist.sort()
print(dist[0][1])

(1, 4)

# Find the point closest to the line parallel to y-axis passing through the point (2,3)

In [ ]:
#homework

# Set

In [18]:
myset={1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [19]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [20]:
myset.remove(3)
print(myset)

{1, 2, 4, 5, 6}

In [23]:
myset={}
myset.add(7)
print(myset) #bcz empty set is void or  null

AttributeError: 'dict' object has no attribute 'add'

In [25]:
myset=set()
myset.add(7)
print(myset)

{7}

In [28]:
myset={1,2,3,4,5}
myset.update([6,7,8,9])   #list
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
myset={1,2,3,4,5}
myset.update((6,7,8,9))   #tuple
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
myset={1,2,3,4,5}
myset.update({6,7,8,9})   #Set
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
type(myset)

set

In [32]:
print(type(myset))

<class 'set'>

In [33]:
myset={1,2,3,4,5}
myset.discard(3)
myset.discard(3)
print(myset)

{1, 2, 4, 5}

In [34]:
myset={1,2,3,4,5}
myset.pop()

1

In [37]:
myset={1,2,3,4,5}
print(myset[0])

TypeError: 'set' object is not subscriptable

In [38]:
myset={1,2,3,4,5}
for element in myset:
    print(element)

1
2
3
4
5

In [40]:
myset={1,2,3,4,5}
for i in range(len(myset)):
    print(myset[i])

TypeError: 'set' object is not subscriptable

# Dictionary

In [41]:
dictX={1 : 'abc',2 : 'def',3 : 'ghi'}
print(dictX)

{1: 'abc', 2: 'def', 3: 'ghi'}

In [42]:
dictX[2]

'def'

In [43]:
dictX.keys()

dict_keys([1, 2, 3])

In [44]:
list(dictX)

[1, 2, 3]

In [52]:
list(dictX.keys())

[1, 3]

In [55]:
list(dictX.values())

['abc', 'def', 'ghi', 'xyz']

In [47]:
dictX.values()

dict_values(['abc', 'def', 'ghi'])

In [50]:
dictX={1 : 'abc',2 : 'def',3 : 'ghi'}
for key in dictX:
    print(f'key: {key}; value :{dictX[key]}')

key: 1; value :abc
key: 2; value :def
key: 3; value :ghi

In [51]:
dictX={1 : 'abc',2 : 'def',3 : 'ghi'}
dictX.pop(2)
print(dictX)

{1: 'abc', 3: 'ghi'}

In [54]:
dictX={1 : 'abc',2 : 'def',3 : 'ghi'}
dictX.update({4 : 'xyz'})
print(dictX)

{1: 'abc', 2: 'def', 3: 'ghi', 4: 'xyz'}

# typecasting

In [56]:
lst=[1,2,3,4,5]
mytuple=tuple(lst)
print(mytuple)

(1, 2, 3, 4, 5)

In [57]:
mytuple=[1,2,3,4,5]
lst=list(mytuple)
print(lst)

[1, 2, 3, 4, 5]

In [58]:
myset={1,2,3,4,5}
lst=list(myset)
print(lst)

[1, 2, 3, 4, 5]

In [59]:
myset={1,2,3,4,5}
mytuple=tuple(myset)
print(tuple)

<class 'tuple'>